<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Transaksi Konsumen</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <h1>Kelola Transaksi Konsumen</h1>
    <form method="POST">
        <label for="customer_name">Nama Konsumen:</label><br>
        <input type="text" id="customer_name" name="customer_name"><br>
        <label for="sku">SKU:</label><br>
        <input type="text" id="sku" name="sku"><br>
        <label for="quantity">Jumlah Beli:</label><br>
        <input type="text" id="quantity" name="quantity"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
