<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restok Barang</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <h1>Restok Barang</h1>
    <form method="POST">
        <label for="sku">SKU:</label><br>
        <input type="text" id="sku" name="sku"><br>
        <label for="stock">Jumlah Stok Baru:</label><br>
        <input type="text" id="stock" name="stock"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
